## Turltle graphic

## idiomatic python
- transformation of the code into idiomatic python
- replace traditional index manipulation with python code looping idoms

In [2]:
for i in [0,1,2,3,4,5]:
    print(i**2,end=' ')
print()
for i in range (6):
    print(i**2,end=' ')

0 1 4 9 16 25
0 1 4 9 16 25

In [4]:
li=[1,2,3,4,5]
for i in range(len(li)):
    print(li[i],end=' ')
print()
for i in li:
    print(i,end=' ')

1 2 3 4 5
1 2 3 4 5

In [6]:
# looping forom backward
li=[1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end=' ')
print()
for i in reversed(li):
    print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [7]:
li=[1,2,3,4,5]
for i in range (len(li)):
    print(i,'->',li[i])
print()
for i,a in enumerate(li):
    print(i,'->',a)

0 -> 1
1 -> 2
2 -> 3
3 -> 4
4 -> 5

0 -> 1
1 -> 2
2 -> 3
3 -> 4
4 -> 5

In [9]:
li = [1,2,3,4,5]
a = [1,2,3,4,5,6,8]
n =min(len(li),len(a))
for i in range(n):
    print(li[i],'',a[i])
print()
for i,a in zip (li,a):
    print(i,' ',a)

1  1
2  2
3  3
4  4
5  5

1   1
2   2
3   3
4   4
5   5

In [10]:
li =[8,1,23,4,5,6]
for i in sorted(li):
    print(i,end=' ')
print()
for i in sorted(li,reverse=True):
    print(i,end=' ')

1 4 5 6 8 23
23 8 6 5 4 1

In [11]:
d={'Name':'Gitam','EmailID':'gitatamtech@gitam.edu','address':'vizag'}
for k in d:
    print(k,end=' ')
print()

Name EmailID address

In [15]:
for k in d.keys():
    if k.startswith('A'):
        del d[k]

In [16]:
print(d)

{'Name': 'Gitam', 'EmailID': 'gitatamtech@gitam.edu', 'address': 'vizag'}

In [17]:
for k in d.values():
    print(k,end=' ')

Gitam gitatamtech@gitam.edu vizag

###  list comprehensions

In [20]:
li=[]
for i  in range(10):
    a=i**2
    li.append(a)
print(sum(li))
print()
print(sum(i**2for i in range(10)))

285

285

In [22]:
li=[]
for i in range(10):
    li.append(i**2)
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
com_list=[i**2 for i in range(10)]
com_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
for i in li:
    if i%2==0:
        print(i,end='')

04163664

In [25]:
com_list=[i**2 for i in range(10)if i%2==0]
com_list

[0, 4, 16, 36, 64]

In [1]:
def square(n):
    return n*n
square(10)

100

In [2]:
a = lambda x : x*x
print(a(10))

100

In [6]:
def filterlist(li):
    a=[]
    for i in li:
        if i %2==0:
            a.append(i)
    return a
li =[1,2,3,4,5,6,7,8]
filterlist(li)

[2, 4, 6, 8]

In [8]:
li = [1,2,3,4,5,6,7,8]
lam_li=list(filter(lambda x :(x%2==0),li))
print(lam_li)

[2, 4, 6, 8]

In [9]:
def squareList(li):
    a=[]
    for i in li:
        a.append(i*2)
    return a
li = [1,2,3,4,5,6,7,8]
squareList(li)

[2, 4, 6, 8, 10, 12, 14, 16]

In [11]:
li = [1,2,3,4,5,6,7,8]
map_list=list(map(lambda x :x*2,li))
print(map_list)

[2, 4, 6, 8, 10, 12, 14, 16]

### lambda withreduce()

In [13]:
def sumlist(li):
    s=0
    for i in li:
        s +=i
    return s
li =[1,2,3,4,5,6,7,8]
sumlist(li)

36

In [14]:
from functools import reduce
li = [1,2,3,4,5,6,7,8]
s= reduce((lambda x,y:x+y),li)
print(s)

36

### STANDARD PACKAGE

#####  pandas

In [17]:
import pandas as pd
internal1={'s1':35,'s2':35,'s3':35}
internal2={'s1':35,'s2':35,'s3':35}
internal1=pd.Series(internal1)
internal2=pd.Series(internal2)
print(internal1)
print(internal2)

s1    35
s2    35
s3    35
dtype: int64
s1    35
s2    35
s3    35
dtype: int64

In [20]:
final ={'Internal1':internal1,'Internal2':internal2}
final =pd.DataFrame(final)
print(final)
print(type(final))

    Internal1  Internal2
s1         35         35
s2         35         35
s3         35         35
<class 'pandas.core.frame.DataFrame'>

In [24]:
final.columns

Index(['Internal1', 'Internal2'], dtype='object')

In [25]:
final.values

array([[35, 35],
       [35, 35],
       [35, 35]], dtype=int64)

In [27]:
final.values[1]

array([35, 35], dtype=int64)

In [28]:
final.values[2][0]=350

In [29]:
final.values

array([[ 35,  35],
       [ 35,  35],
       [350,  35]], dtype=int64)

In [30]:
final.values[0][0]=60

In [31]:
final.values

array([[ 60,  35],
       [ 35,  35],
       [350,  35]], dtype=int64)

In [37]:
for row in final.values:
    print('Internal1 -',row[0],'Internal2 -',row[1])

Internal1 - 60 Internal2 - 35
Internal1 - 35 Internal2 - 35
Internal1 - 350 Internal2 - 35

In [38]:
final.loc['s4'] = [20,18]

In [39]:
final

    Internal1  Internal2
s1         60         35
s2         35         35
s3        350         35
s4         20         18

In [40]:
pwd

'C:\\Users\\Sai Sandeep\\Desktop\\Untitled Folder'

In [46]:
filepath ='income.csv'
def readCsvData(filePath):
    return pd.read_csv(filepath)
df=readCsvData(filepath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [47]:
for row in df.values:
    print(row[1],' :',row[-1])

Alabama  : 41381
Alaska  : 61137
Arizona  : 50602
Arkansas  : 39919
California  : 57528

In [48]:
print(df.values)

[['04000US01' 'Alabama' 37150 37952 42212 44476 39980 40933 42590 43464
  41381]
 ['04000US02' 'Alaska' 55891 56418 62993 63989 61604 57848 57431 63648
  61137]
 ['04000US04' 'Arizona' 45245 46657 62993 46914 45739 46896 48621 47044
  50602]
 ['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
  39919]
 ['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367
  57020 57528]]

In [49]:
def avgofstate():
    s=0
    for i in range(2,11):
        s +=df.values[4][i]
    return s//len (df.values[4][2:])
avgofstate()

55350

In [53]:
def printDataFrameColumns(df):
    li=[]
    columns=df.columns
    for i in columns:
        li.append(i)
    return li
printDataFrameColumns(df)

['GEOID',
 'State',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [54]:
filepath ='income.csv'
def readCsvData(filePath):
    return pd.read_csv(filepath)
df=readCsvData(filepath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [55]:
filePath ='RegularSeasonCompactResults.csv'
def readCsvData(filePath):
    return pd.read_csv(filepath)
df=readCsvData(filepath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [6]:
import pandas as pd
filePath ='RegularSeasonCompactResults.csv'
def readCsvData(filePath):
    return pd.read_csv(filePath)
df=readCsvData(filePath)
print(df)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
5         1985      25   1218      79   1337      78    H      0
6         1985      25   1228      64   1226      44    N      0
7         1985      25   1242      58   1268      56    N      0
8         1985      25   1260      98   1133      80    H      0
9         1985      25   1305      97   1424      89    H      0
10        1985      25   1307     103   1288      71    H      0
11        1985      25   1344      75   1438      71    N      0
12        1985      25   1374      91   1411      72    H      0
13        1985      25   1412      70   1397      65    N      0
14        1985      25   1417      87   1225      58    H      0
15        1985      26   1116      65   1368      62    H      0
16        1985      26   1120      92   1391      50    H      0
17        1985      26   1135      65   1306      60    A      0
18        1985      26   1143      58   1388      53    H      0
19        1985      26   1153      50   1184      48    H      0
20        1985      26   1165      47   1159      40    A      0
21        1985      26   1171      55   1216      52    H      0
22        1985      26   1173      76   1134      56    H      0
23        1985      26   1177      59   1296      58    H      0
24        1985      26   1193      79   1265      76    A      0
25        1985      26   1196     106   1416      55    H      0
26        1985      26   1206      95   1137      77    H      0
27        1985      26   1210      79   1149      66    H      0
28        1985      26   1211      64   1102      59    A      0
29        1985      26   1234      76   1114      47    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145259    2016     130   1452      69   1328      67    N      0
145260    2016     131   1114      72   1418      65    N      0
145261    2016     131   1138      64   1103      61    N      0
145262    2016     131   1163      77   1396      62    N      0
145263    2016     131   1167      57   1308      54    N      0
145264    2016     131   1201      68   1361      63    N      0
145265    2016     131   1214      81   1354      69    N      0
145266    2016     131   1218      64   1253      60    N      0
145267    2016     131   1242      81   1452      71    N      0
145268    2016     131   1246      93   1208      80    N      0
145269    2016     131   1272      74   1408      54    N      0
145270    2016     131   1277      64   1268      61    N      0
145271    2016     131   1292      55   1330      53    N      0
145272    2016     131   1314      61   1438      57    N      0
145273    2016     131   1332      88   1428      57    N      0
145274    2016     131   1345      76   1276      59    N      0
145275    2016     131   1371      69   1437      67    N      0
145276    2016     131   1372      82   1394      60    N      0
145277    2016     131   1380      54   1238      53    N      0
145278    2016     131   1386      82   1173      79    N      0
145279    2016     131   1392      80   1436      74    H      0
145280    2016     131   1401      71   1261      38    N      0
145281    2016     131   1419      82   1426      71    N      0
145282    2016     131   1433      76   1172      54    N      0
145283    2016     131   1451      62   1285      59    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [7]:
df.shape

(145289, 8)

In [8]:
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In [9]:
df.describe

<bound method NDFrame.describe of         Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
5         1985      25   1218      79   1337      78    H      0
6         1985      25   1228      64   1226      44    N      0
7         1985      25   1242      58   1268      56    N      0
8         1985      25   1260      98   1133      80    H      0
9         1985      25   1305      97   1424      89    H      0
10        1985      25   1307     103   1288      71    H      0
11        1985      25   1344      75   1438      71    N      0
12        1985      25   1374      91   1411      72    H      0
13        1985      25   1412      70   1397      65    N      0
14        1985      25   1417      87   1225      58    H      0
15        1985      26   1116      65   1368      62    H      0
16        1985      26   1120      92   1391      50    H      0
17        1985      26   1135      65   1306      60    A      0
18        1985      26   1143      58   1388      53    H      0
19        1985      26   1153      50   1184      48    H      0
20        1985      26   1165      47   1159      40    A      0
21        1985      26   1171      55   1216      52    H      0
22        1985      26   1173      76   1134      56    H      0
23        1985      26   1177      59   1296      58    H      0
24        1985      26   1193      79   1265      76    A      0
25        1985      26   1196     106   1416      55    H      0
26        1985      26   1206      95   1137      77    H      0
27        1985      26   1210      79   1149      66    H      0
28        1985      26   1211      64   1102      59    A      0
29        1985      26   1234      76   1114      47    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145259    2016     130   1452      69   1328      67    N      0
145260    2016     131   1114      72   1418      65    N      0
145261    2016     131   1138      64   1103      61    N      0
145262    2016     131   1163      77   1396      62    N      0
145263    2016     131   1167      57   1308      54    N      0
145264    2016     131   1201      68   1361      63    N      0
145265    2016     131   1214      81   1354      69    N      0
145266    2016     131   1218      64   1253      60    N      0
145267    2016     131   1242      81   1452      71    N      0
145268    2016     131   1246      93   1208      80    N      0
145269    2016     131   1272      74   1408      54    N      0
145270    2016     131   1277      64   1268      61    N      0
145271    2016     131   1292      55   1330      53    N      0
145272    2016     131   1314      61   1438      57    N      0
145273    2016     131   1332      88   1428      57    N      0
145274    2016     131   1345      76   1276      59    N      0
145275    2016     131   1371      69   1437      67    N      0
145276    2016     131   1372      82   1394      60    N      0
145277    2016     131   1380      54   1238      53    N      0
145278    2016     131   1386      82   1173      79    N      0
145279    2016     131   1392      80   1436      74    H      0
145280    2016     131   1401      71   1261      38    N      0
145281    2016     131   1419      82   1426      71    N      0
145282    2016     131   1433      76   1172      54    N      0
145283    2016     131   1451      62   1285      59    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]>

In [10]:
df.max()

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

In [11]:
df.min()

Season    1985
Daynum       0
Wteam     1101
Wscore      34
Lteam     1101
Lscore      20
Wloc         A
Numot        0
dtype: object

In [12]:
df['Lteam'].max()

1464

In [13]:
df['Lteam'].min()

1101

In [14]:
df['Lteam'].sum()

186386037

In [15]:
df.sort_values('Lscore').head()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
100027    2008      66   1203      49   1387      20    H      0
49310     1997      66   1157      61   1204      21    H      0
89021     2006      44   1284      41   1343      21    A      0
85042     2005      66   1131      73   1216      22    H      0
103660    2009      26   1326      59   1359      22    H      0

In [16]:
df.sort_values('Lscore').tail()

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
77873    2003     110   1383     142   1254     140    H      2
24970    1991      68   1258     186   1109     140    H      0
22074    1990      96   1261     148   1258     141    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0