
### string boolean function
- true or false
- islower() -- true if the string has all lower case
- ishigh() -- true if the string has all upper case
- istitle() -- true if the string in title case
- isnumeric() -- true is the string is numberic
- isalpha() -- true if the strin only alphabets
- isspace() -- true if the string is space

In [5]:
s1 = "python"
print(s1.islower())
print(s1.isupper())

True
False

In [6]:
s1="python programming"
print(s1.istitle())

False

In [7]:
s1="123456"
s2="py123"
print(s1.istitle())
print(s2.istitle())

False
False

In [9]:
s1='23521564'
print(s1.isnumeric())
s1='py133'
print(s1.isnumeric())

True
False

In [11]:
s1='python'
print(s1.isalpha())
s1="12456"
print(s1.isalpha())

True
False

In [13]:
s1=" "
print(s1.isspace())
s1="1234"
print(s1.isspace())

True
False


### string method
- split()-- returs the list of the strings seperated by whitespace
- replace()--
- join() --

In [16]:
s1 = 'python programming learn made easy'
li = s1.split()
print(li)

['python', 'programming', 'learn', 'made', 'easy']

In [17]:
s1 = 'python programming learn made easy'
li = s1.split('a')
print(li)

['python progr', 'mming le', 'rn m', 'de e', 'sy']

In [18]:
s1 = 'python programming learn made easy'
print(s1.replace('a','@'))

python progr@mming le@rn m@de e@sy

In [20]:
s1='python'
print(' '.join(s1))

p y t h o n

## string formation
- classes verion
- current version python

In [21]:
# classic version (c or c++)
li=["python","programming"]
print('%s %s' % (li[0],li[1]))

python programming

In [23]:

li=[1,2,3,4]
print('%d %d %d %d' % (li[0],li[1],li[2],li[3]))

1 2 3 4

In [24]:
# format
li=["python","programming"]
print("list item 0 : {0} \nlist item 1 :".format(li[0],li[1]))

list item 0 : python
list item 1 :

In [25]:
li=[1,2,3,4]
print('{0} {1} {2} {3}' .format(li[0],li[1],li[2],li[3]))

1 2 3 4

## data structure
- list
-

## dictionaries
- it work on the concept of unique data
- key,value is the unique difference value
- each key is seperated from value colon(:)
- each key and value is seperated comma(,)

In [43]:
d1 ={"Name":"Gitam","EmailID":"gitamvizag@gmail.com"," address":"vizag"}
print(d1)

{'Name': 'Gitam', 'EmailID': 'gitamvizag@gmail.com', ' address': 'vizag'}

In [29]:
d1["EmailID"]

'gitamvizag@gmail.com'

In [30]:
d1["EmailID"]="gitam@hotmail.com"

In [31]:
d1["EmailID"]

'gitam@hotmail.com'

In [33]:
d1.keys()

dict_keys(['Name', 'EmailID', ' address'])

In [34]:
d1.values()

dict_values(['Gitam', 'gitam@hotmail.com', 'vizag'])

In [35]:
del d1["EmailID"]

In [36]:
d1

{'Name': 'Gitam', ' address': 'vizag'}

In [37]:
li=d1.keys()
print(li)

dict_keys(['Name', ' address'])

In [42]:
d1

NameError: name 'd1' is not defined

In [39]:
del d1

In [40]:
d1

NameError: name 'd1' is not defined

In [44]:
d1

{'Name': 'Gitam', 'EmailID': 'gitamvizag@gmail.com', ' address': 'vizag'}

## contact application
- adding a contact ditals
- search contact details
- list all contacts (merge/import)
- modify or update the contact details

In [48]:
contact ={}#empty list 
# let's creat a function to add contact details
def addcontact(name,phone):
    if name not in contact:
        contact[name]=phone
        print("contact details are added successfully")
    else:
        print("name is already exist")
    return
addcontact('rohan','6673484977834')
addcontact('rajesh','46746617777777')
addcontact('rohan','6673484977834')

contact details are added successfully
contact details are added successfully
name is already exist

In [54]:
 def searchcontacts(name):
        if name in contact:
            print(name,":",contact[name])
        else:
            print('{0} does not present'.format(name))
        return
searchcontacts('kala')
searchcontacts('jack')
searchcontacts('rao')
searchcontacts('mahi')
searchcontacts('ravi')

kala does not present
jack does not present
rao does not present
mahi does not present
ravi does not present

In [58]:
# import new contact details
# merge the previous details with the new details
def importcontacts(newcontacts):
    contact.update(newcontacts)
    print(len(newcontacts.keys()),'contacts are added')
    return
newcontacts = {'Gitam':734683454,'Sunil':37626864723,'Phani':2559774892}
importcontacts(newcontacts)

3 contacts are added

In [59]:
contact

{'rohan': '6673484977834',
 'rajesh': '46746617777777',
 'Gitam': 734683454,
 'Sunil': 37626864723,
 'Phani': 2559774892}

In [63]:
def modifycontacts(name,phone):
    if name in contact:
        contact[name]=phone
        print(name,"update successfully")
    else:
        print(name,"not exists")
    return
modifycontacts('rajesh',46746617777777)
modifycontacts('ajay',34674238728)
modifycontacts('man',34674238728)

rajesh update successfully
ajay not exists
man not exists

In [70]:
def deletecontact(name):
    if name in contact:
        del contact[name]
        print(name,'not present')
    else:
        print(name,'not exists')
    return
deletecontact('rohan')

rohan not exists

In [71]:
contact

{'Gitam': 734683454, 'Sunil': 37626864723, 'Phani': 2559774892}

## Tuples
- tuples enclosed with parametrs 
## Different between Tuples and LIst
- list are mutale -- can be changed/modify
- read and write the data 
- tuples are immutable --can't be changed/modified
- read data only

In [72]:
t1=(1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

In [73]:
print(t1[1::-1])

(2, 1)

####  standard libraries
- regular expessons
- to validate the indian mobile number
- emailid
- user name
- password
- understandimg the regular exprssion
- [0-9]--any digit matching
- [a-z] -- any lower case matching
- [A-Z] --any upper case matching
- CAP symbol is used to represent the start of grgular exprssion
- dollar symbol is usde to represent the end of the regular exprssion

In [76]:
# funcion to test the two digit number as input
# true -- input two digit number 
# fasles --input not a two digit number
import re
def twoDigitMatching(n):
    pattern ='^[0-9](2)$'
    n =str(n)
    if re.match(pattern,n):
        return True
    return False
print(twoDigitMatching(12))
print(twoDigitMatching(123))

True
False

In [78]:
# regular expression for user name
# user name -- sholud lower and upper casecharacters
# length--minmum-5 and max-12
def validateUsername(s):
    pattern='^[a-z]{4,11}$'
    if re.match(pattern,s):
        return True
    return False
print(validateUsername('anil'))
print(validateUsername('akhli'))
print(validateUsername('arun'))

True
True
True

# regular expression for indian mobile
- 10 Digit number
- first digit number starts from 6-9
- rest of 9 numbers start from 0-9
- 11 digit number
- first number can be 0
- second number can be 6-9
- rest of the 9 digits can be 0-9
13 digit number 
- first number can be +
- second number can be 9
- third can be 1
- fourth (6-9)
- rest(0-9)

In [2]:
n = input('Number:')
import re
def validateIndianPhone(n):
    pattern = '^[6-9][0-9]{9}$|^[0][6-9][0-9]{9}$|^[+][9][1][6-9][0-9]{9}$'
    if re.match(pattern,n):
        return True
    return False
validateIndianPhone(n)

Number:9458214309

True

####  validate the email id
- example :username@domainname.extension
- example :dsps@gmail.com
- user name
 - length of string is (6-15)
 -

In [4]:
em = input('Email ID')
def validateEmailID(em):
    pattern = '^[0-9a-zA-Z][0-9a-zA-Z_.]{6,40}[@][0-9a-zA-Z]{3,18}[.][a-z]{2,4}$'
    if re.match(pattern,em):
        return True
    return False
validateEmailID(em)

Email IDneerukondasaisandeep79482@gmail.com

True

## python Graphics

### package,module and sub package 
- package

In [5]:
import math
math.floor(123.456)

123

In [6]:
math.ceil(123.456)

124

In [7]:
from math import factorial as fact
fact(10)

3628800

In [8]:
from math import gcd as gcd
gcd(10,15)

5

In [14]:
import random
def generateRandNum(n,lb,ub):
    for i in range(0,n):
        print(random.randint( lb,ub),end=' ')
    return
generateRandNum(10,0,100)

84 96 54 76 85 1 46 69 30 2

In [15]:
# create a sample game
# try to generate 20 numbers
# input  : number
# present :congrates!!!
# not present : try again

In [20]:
from random import randint as rdint
def genNumber(n,lb,ub):
    li=[]
    for i in range (0,n):
        li.append(rdint(lb,ub))
    return li
def check(n):
    li=genNumber(20,100,999)
    if n in li:
        print('congrats !!!!!!!')
    else:
        print('try again !!!!!!')
    return
check(579)

try again !!!!!!